main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

app-day-wrapper {
    margin: 0 15px;
}

.upper-row__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}