<div class="stats__wrapper">

    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="5">
        <mat-grid-tile>
            <mat-card>
                <div class="stats-card__header">Max</div>
                <mat-card-content>{{ statistics.maxTemp | kelvinToCelsius }}</mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <div class="stats-card__header">Min</div>
                <mat-card-content>{{ statistics.minTemp | kelvinToCelsius}}</mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <div class="stats-card__header">Mean</div>
                <mat-card-content>{{ statistics.meanTemp | kelvinToCelsius}}</mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <div class="stats-card__header">{{ statistics.modeTemp.length === 1 ? 'Mode' : 'Modes' }}</div>
                <mat-card-content>{{ statistics.modeTemp | kelvinArrayToCelsius}}</mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>


</div>
  