<section>
    <div class="day-wrapper">
        <header class="day-wrapper__header">{{ isToday ? 'Today' : todayDate }}</header>
        <main class="day-wrapper__content">

            <mat-card class="morning__background">
                <div>Morning</div>
                <mat-card-content>{{ morningTemperature | kelvinToCelsius }}</mat-card-content>
            </mat-card>

            
            <mat-card class="day__background">
                <div>Day</div>
                <mat-card-content>{{ dailyTemperature | kelvinToCelsius }}</mat-card-content>
            </mat-card>

            
            <mat-card class="night__background white-text">
                <div>Night</div>
                <mat-card-content>{{ nightTemperature | kelvinToCelsius }}</mat-card-content>
            </mat-card>

            <mat-card class="humidity__background">
                <div>Humidity</div>
                <mat-card-content>{{ humidity | humidityToPercent }}</mat-card-content>
            </mat-card>

        </main>
    </div>
</section>
